@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.8;
}

a,
button {
  text-decoration: none;
  color: steelblue;
}

button {
  background: none;
  border: none;
  font-family: inherit;
  cursor: pointer;
  font-size: 14px;
}

p {
  margin: 10px 0;
}

h1 {
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: red;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  transition: all 0.2s ease-out;
}

.btn:hover {
  background: rgb(233, 0, 0);
}

/* .btn {
  display: inline-block;
  background: transparent;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  position: relative;
}

.btn::before {
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: red;
  z-index: -1;
  transform: scale(1);
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 3);
}

.btn:hover::before {
  transform: scale(1.05);
} */

.btn-secondary {
  font: inherit;
  font-size: 13px;
  background: #000;
  color: #fff !important;
  border: 0;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 0 20px;
  cursor: pointer;
}

.btn-secondary:hover {
  opacity: 0.8;
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-icon svg {
  margin-right: 5px;
}

#nprogress .bar {
  background: red !important;
  height: 3px !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px red, 0 0 5px red !important;
}
