.container {
  position: fixed;
  inset: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 100px 0;
  opacity: 0;
  animation: fade-in 0.2s ease-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.logo {
  color: red;
  font-size: 20px;
  text-transform: uppercase;
  transform: translateY(-16px);
  opacity: 0;
  animation: logo 0.2s ease-out forwards 0.2s;
}

@keyframes logo {
  from {
    opacity: 0;
    transform: translateY(-16px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.logo a {
  color: red;
}

.mobileNav li {
  margin: 20px 0;
  font-size: 20px;
  opacity: 0;
  animation: menu 0.6s ease-out forwards 0.2s;
}

@keyframes menu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.close {
  width: 80px;
  height: 80px;
  border-radius: 100vw;
  background-color: #fafafa;
  border: 1px solid rgba(255, 0, 0, 0.2);
  transform: translateY(16px);
  opacity: 0;
  animation: close 0.2s ease-out forwards 0.2s;
}

@keyframes close {
  from {
    opacity: 0;
    transform: translateY(16px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
